<connectionStrings>
  <clear />
  <add name="DamvayShopConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=DESKTOP-9O24IUM\SQLEXPRESS;Initial Catalog=DamvayShop;Integrated Security=False;User Id=sa;Password=ng215233476;MultipleActiveResultSets=True" />
</connectionStrings>